{% extends "app/one_page_wonder/base.html" %}
{% load static %}

{% block header %}
<h1 class="masthead-heading mb-0">{{ landing.heading }}</h1>
<h2 class="masthead-subheading mb-0">{{ landing.subheading }}</h2>
{% if landing.link %}
<a id="learn-more-button" class="btn btn-primary btn-xl rounded-pill mt-5" href="{{ landing.link }}">Learn More</a>
{% endif %}
{% endblock %}

{% block content %}
<!-- Recent article section-->
<section class="py-5 border-bottom" id="recent_articles">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            {% for article in articles %}
                <div class="col-lg-4 mb-5 mb-lg-0 recent_articles_div">
                    {% if article.image %}
                    <a href="/articles/{{ article.slug_name }}"><img src="{% get_media_prefix %}{{ article.image }}" class="img-fluid img-thumbnail img-articles"></a>
                    {% endif %}
                    <h2 class="h4 fw-bolder"><center><a class="text-decoration-none articles-title" href="/articles/{{ article.slug_name }}">{{ article.title }}</a></center></h2>
                    <hr>
                    <p>{{ article.summary }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}


{% block contact %}
{% if landing.contact_enabled and contact_form %}
<!-- Contact Thank you Modal -->
<div class="modal" id="thankModal" tabindex="-1" role="dialog" aria-labelledby="thankModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title" id="thankModalTitle">Message Sent</h5>
        </div>
        <div class="modal-body">
            Thank you for your message, we will respond soon.
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

<!-- Contact section-->
<section class="bg-light py-5" id="contact">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary rounded-3 mb-3"><i class="bi bi-envelope h1"></i></div>
            <h2 class="fw-bolder">Get in touch</h2>
            <p class="lead mb-0">We'd love to hear from you</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">

                <form action="{% url 'index' %}#contact" method="POST">
                    {% csrf_token %}
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="full_name" name="full_name" type="text" placeholder="Enter your name..." {% if contact_form.full_name.value %}value="{{ contact_form.full_name.value }}"{% endif %} />
                        <label for="name">Full name</label>
                        {% if contact_form.errors.full_name %}
                            <div style="padding-top: 0.5rem; padding-left: 0.5rem; padding-bottom: 1.5rem;">{{ contact_form.errors.full_name.as_text }}</div>
                        {% endif %}
                    </div>

                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" name="email" type="text" placeholder="name@example.com" {% if contact_form.email.value %}value="{{ contact_form.email.value }}"{% endif %} />
                        <label for="email">Email address</label>
                        {% if contact_form.errors.email %}
                            <div style="padding-top: 0.5rem; padding-left: 0.5rem; padding-bottom: 1.5rem;">{{ contact_form.errors.email.as_text }}</div>
                        {% endif %}
                    </div>

                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem">{% if contact_form.message.value %}{{ contact_form.message.value }}{% endif %}</textarea>
                        <label for="message">Message</label>
                        {% if contact_form.errors.message %}
                            <div style="padding-top: 0.5rem; padding-left: 0.5rem; padding-bottom: 1.5rem;">{{ contact_form.errors.message.as_text }}</div>
                        {% endif %}
                    </div>

                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                        </div>
                    </div>

                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>

                </form>

            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}